<ul class="ms-tags">
  {{#each widget.selections}}
  <li class="ms-tag">
    <div class="ms-value">{{value}}</div>
    <i class="glyphicon glyphicon-remove" {{action "removeSelection" this}}></i>
  </li>
  {{else}}
  <li class="ms-no-tag">no selections</li>
  {{/each}}
</ul>

{{input 
  classNames="ms-input"
  type="text"
  value=search
  placeholder=placeholder
  enter="addSelection"
  update="updateSearch"
  focus="focus"
  unfocus="unfocus"}}

<ul class="ms-dropdown">
{{#if widget.focused}}
  {{#each widget.matches}}
  <li class="ms-match">{{value}}</li>
  {{else}}
  <li class="ms-no-matches">no matches</li>
  {{/each}}
{{/if}}
</ul>
