{{input 
  type="text"
  value=search
  enter="addSelection"
  update="updateSearch"
  focus="focus"
  unfocus="unfocus"}}

<ul class="dropdown">
{{#if widget.focused}}
  {{#each widget.matches}}
  <li>{{value}}</li>
  {{else}}
  <li>no matches</li>
  {{/each}}
{{/if}}
</ul>

<ul class="tags">
  {{#each widget.selections}}
  <li class="tag">
    {{value}}
    <i class="glyphicon glyphicon-remove" {{action "removeSelection" this}}></i>
  </li>
  {{/each}}
</ul>
