doctype html
html(lang=en)
  head
    title Component examples
    link(rel="stylesheet", type="text/css", href="/dist/index.css")
  body
    .video-container
      iframe.player(
        src="//www.youtube.com/embed/d2JzH_XTj0c?rel=0&autoplay=1", 
        frameborder="0",
        allowfullscreen)

      .timelines-container
        .slider.active
        .timeline-container
          .midline.comments
          ul.timeline-tags
            li.comments(style="left: 10%; width: 8%;")
            li.comments(style="left: 26%; width: 4%;")
            li.comments(style="left: 50%; width: 10%;")
            li.comments(style="left: 82%; width: 12%;")
        .timeline-container
          .midline.videos
          ul.timeline-tags
            li.videos(style="left: 5%;  width: 3%;")
            li.videos(style="left: 60%; width: 7%;")
            li.videos(style="left: 68%; width: 13%;")
        .timeline-container
          .midline.products
          ul.timeline-tags
            li.products(style="left: 16%; width: 2%;")
            li.products(style="left: 35%; width: 6%;")
            li.products(style="left: 72%; width: 5%;")
            li.products(style="left: 83%; width: 6%;")

      .active-comments-container
        .active-comment-container
          .header-container
            .title.comments 
              i.glyphicon.glyphicon-comment
              span Comments
            .list-button.comments
              i#list-comments.glyphicon.glyphicon-list
          .contents.comments
            .profile-header
              img.profile-image(src="https://lh4.googleusercontent.com/-M3QZzLiIxo4/AAAAAAAAAAI/AAAAAAAAA6E/SaHmuMf9Ekg/s24-c-k-no/photo.jpg")
              .profile-details
                a.profile-name(href="#") Steve Kane
                p.comment-date Sept. 5, 2013
            p blah blah blah I have so much to say you guys this is really great that I have this platform to voice my opinions on!
            
        .active-comment-container
          .header-container
            .title.videos
              i.glyphicon.glyphicon-film
              span Videos
            .list-button.videos
              i#list-videos.glyphicon.glyphicon-list
          .contents.videos
            iframe.video-thumbnail(
              src="//www.youtube.com/embed/C1tWgWVSLAY?rel=0", 
              frameborder="0",
              allowfullscreen)

        .active-comment-container
          .header-container
            .title.products
              i.glyphicon.glyphicon-shopping-cart
              span Products
            .list-button.products
              i#list-products.glyphicon.glyphicon-list
          .contents.products
            img.thumbnail(src="https://slm-assets2.secondlife.com/assets/7060694/lightbox/Wrap_Front_Roll_Neck_Cropped_Sweater.jpg?1359472383")

    script(src="/vendor/jquery.js")
    #script(src="/dist/quickhack.js")
