doctype html
html(lang=en)
  head
    title Component examples
    link(rel="stylesheet", type="text/css", href="/dist/index.css")
  body
    .video-container
      iframe.player(
        src="//www.youtube.com/embed/8CkxN25GhHE?rel=0", 
        frameborder="0",
        allowfullscreen)

      .timelines-container
        .slider.active
        .timeline-container
          .midline.comments
          ul.timeline-tags
            li.comments(style="left: 10%; width: 50px;")
            li.comments(style="left: 25%; width: 35px;")
            li.comments(style="left: 50%; width: 75px;")
            li.comments.active(style="left: 80%; width: 100px;")
        .timeline-container
          .midline.videos
          ul.timeline-tags
            li.videos(style="left: 5%;  width: 25px;")
            li.videos(style="left: 60%; width: 55px;")
            li.videos.active(style="left: 68%; width: 120px;")
        .timeline-container
          .midline.products
          ul.timeline-tags
            li.products(style="left: 15%; width: 25px;")
            li.products(style="left: 35%; width: 55px;")
            li.products(style="left: 70%; width: 48px;")
            li.products.active(style="left: 80%; width: 55px;")
            li.products(style="left: 90%; width: 75px;")

      .active-comments-container
        .active-comment-container
          .title.comments 
            i.glyphicon.glyphicon-comment
            span comments
          .contents
            .profile-header
              img.profile-image(src="https://lh4.googleusercontent.com/-M3QZzLiIxo4/AAAAAAAAAAI/AAAAAAAAA6E/SaHmuMf9Ekg/s24-c-k-no/photo.jpg")
              .profile-details
                a.profile-name(href="#") Steve Kane
                p.comment-date Sept. 5, 2013
            p blah blah blah I have so much to say you guys this is really great that I have this platform to voice my opinions
            
        .active-comment-container
          .title.videos
            i.glyphicon.glyphicon-film
            span videos
          .contents
            iframe.video-thumbnail(
              src="//www.youtube.com/embed/C1tWgWVSLAY?rel=0", 
              frameborder="0",
              allowfullscreen)

        .active-comment-container
          .title.products
            i.glyphicon.glyphicon-shopping-cart
            span products
          .contents
            img.thumbnail(src="https://slm-assets2.secondlife.com/assets/7060694/lightbox/Wrap_Front_Roll_Neck_Cropped_Sweater.jpg?1359472383")
